  <div class="view">
    <input {{action 'complete'}} class="toggle" type="checkbox" >
    <label>{{item.title}}</label>
    <button {{action 'delete'}} class="destroy"></button>
  </div>
  <input class="edit" value="Create a TodoMVC template">
<!--

<li class="completed">
  <div class="view">
    <input class="toggle" type="checkbox">
    <label>Buy a unicorn</label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="Rule the web">
</li>
-->
