{{outlet}}
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    {{input key-up=(action 'addTodo')
      class="new-todo" placeholder="What needs to be done?"
      autofocus="true" value=newTodo }}
  </header>

  <!-- This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      {{#each model as |todo|}}
        {{todo-item item=todo
          delete="deleteItem"
          complete="completeItem"
        }}
      {{/each}}
    </ul>
  </section>

  <!-- This footer should hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{model.length}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
  </footer>
</section>
